

<html>
<head>
  <title>The Gossip Project</title>
</head>
<body>
  <h1>Page Potin</h1>
  <h2>Voici la page du potin n° <%= params['id'] %> : </h2>
  <p>
      <%= gossips.author %><br/>
      <%= gossips.content %>
  </p>
  <a href="/">Vous pouvez cliquer ici pour revenir à la page des potins</a><br/>
  <a href="/gossips/<%= params['id'] %>/edit/">Editer le potin</a><br/>  
  
</body>
</html>